nav{
    display: block;
    border: 2px solid black;
    border-radius: 10px 10px;
    background:linear-gradient(rgb(255, 102, 0),#ffffff,rgb(2, 252, 15));
    /* font-family: "Nova Script", system-ui; */
    font-family: "Nova Square", sans-serif;
}
a{
    margin-left: 2%;
    text-decoration: none;
}
a:hover{
  border: 1px solid black;
  border-radius: 5px 5px;
  color: rgb(15, 15, 15);
  background-color: rgb(255, 183, 157);
}
.user-icon {
  font-weight: bold;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.logout-button {
  margin-left: 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.end{
  margin-left: 45%;
}